/* Reset some default browser styles */
@font-face {
    font-family: 'Qwenzy';
    src: url('/fonts/qwenzy.ttf') format('truetype');
  }
  
  body {
    font-family: 'Qwenzy', sans-serif;
  }
  
    
  body, ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    
    /* Global styles */
    
    /* Header styles */
    .header {
      background-color:black  ; /* Warna latar belakang header - #132226 */
      padding: 11px;
      
    }
  
    .welcome-text {
      margin-left: 100px;
    }
    
    /* Logo and Navigation styles */
    .logo {
      float: left;
      padding: 20px;
    }

    .paneltop img {
      transform: scale(1,5);

    }
  
    .profile-img {
      position: absolute; /* Membuat gambar profil posisi absolut */
      top: 10px; /* Menentukan jarak dari atas (sesuaikan sesuai kebutuhan) */
      left: 10px; /* Menentukan jarak dari kiri (sesuaikan sesuai kebutuhan) */
      width: 80px; /* Menentukan lebar gambar profil (sesuaikan sesuai kebutuhan) */
      height: auto; /* Menjaga aspek rasio gambar */
      z-index: 1; /* Menentukan tumpukan z-index di atas header */
    }
      
    .navigation {
    float: right;
    padding: 10px;
    }
   
  
  .navigation li {
    display: inline;
    margin-left: 10px;
  }
  
  .navigation ul li {
    list-style: none;
  }
  
  
  .navigation ul li a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #BA7889;
    font-size: 18px;
    font-weight: 600;
    transition: 0.5s;
    z-index: 1;
  }
  
  .navigation ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #BA7889;
    border-bottom: 2px solid #BA7889;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
  }
  
  .navigation ul li a:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #BA7889;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
  }
  
  .navigation ul li a:hover {
    color: #fff;
  }
  
  .navigation ul li a:hover:before {
    transform: scaleY(1);
    opacity: 1;
  }
  
  .navigation ul li a:hover:after {
    transform: scaleY(1);
    opacity: 1;
  }
    
    .navigation a {
      text-decoration: none;
      color: #BA7889; /* Warna teks tautan navigasi - #525B56 */
    }
  
    .wrapper {
      margin: 0;
      padding: 0;
    }
    
    .banner {
      padding: 0;
      margin: 0;
      height: 245px;
      width: 100%;
      background-image: url('/image/walwe.png');
      display: flex; /* Menggunakan flex container */
      justify-content: center; /* Untuk membuat teks menjadi rata tengah secara horizontal */
      align-items: center; /* Untuk membuat teks menjadi rata tengah secara vertikal */
  }
  
  .banner h1 {
      margin: 0;
      color: #BA7889;
  }
  
    /* Text area styles */
    .text-area h2{
      font-weight: bolder;
    }
  
    .text-area {
      background-color: #BA7889; /* Warna latar belakang text area - #040C0E */
      padding: 20px;
      color: #000000; /* Warna teks text area - #A4978E */
    }
    
    /* Boxes styles */
    .boxes {
      background-color: #000000; /* Warna latar belakang boxes - #BE9063 */
      padding: 20px;
      display: flex;
      justify-content: space-between;
    }
  
    .boxes img {
      --s: 15px;  /* size of the frame */
      --b: 2px;   /* border thickness */
      --w: 200px; /* width of the image */
      --c: #BA7889;
      
      max-width: var(--w);
      max-height: var(--w);
      width: 100%;
      height: 100%;
      object-fit: contain;
      padding: calc(2 * var(--s));
      cursor: pointer;
      aspect-ratio: 1; /* Untuk mempertahankan rasio aspek */
      outline: calc(var(--w) / 2) solid #0009;
      outline-offset: calc(var(--w) / -2 - 2 * var(--s));
      transition: .4s;
      
      /* Gradient styling */
      --_g: var(--c) var(--b), #0000 0 calc(100% - var(--b)), var(--c) 0;
      background:
          linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
          linear-gradient(90deg, var(--_g)) 50%/var(--_i, 100%) 100% no-repeat;
  }
  
  
    .boxes img:hover {
      outline: var(--b) solid var(--c);
      outline-offset: calc(var(--s)/-2);
      --_i: calc(100% - 2*var(--s));
    }
    
    .box {
      width: 30%;
      height: 400px; /* Tambahkan tinggi yang sesuai */
      background-color: #fbd8df;
      padding: 5px;
      margin: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; /* Untuk mengatur konten di tengah secara horizontal */
      text-align: center;
    }
    
    .box h2 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    
    
  
    
    /* CSS untuk footer */
    footer {
      background-color: #000000; /* Warna latar belakang footer - #132226 */
      color: #A4978E; /* Warna teks pada footer - #A4978E */
      padding: 10px 0; /* Ruang polos di atas dan bawah footer */
      text-align: center; /* Teks di tengah footer */
      position: relative; /* Membuat footer tetap di bagian bawah */
      bottom: 0; /* Meletakkan footer di bagian bawah */
      width: 100%; /* Lebar footer mengisi seluruh lebar halaman */
    }
    
    /* CSS untuk link pada footer */
    footer a {
      color: #A4978E; /* Warna teks tautan pada footer - #A4978E */
      text-decoration: none; /* Hapus dekorasi tautan (misalnya, garis bawah) */
    }
    
    /* CSS untuk link tautan hover pada footer */
    footer a:hover {
      text-decoration: underline; /* Tambahkan garis bawah saat tautan hover */
    }
    
  
    /* CSS untuk teks "Home" saat hover */
  .nav-link {
    position: relative; /* Membuat posisi relatif untuk menempatkan teks */
    display: inline-block; /* Menampilkan teks di sebelah logo */
    margin-top: 5px; /* Jarak antara logo dan teks saat hover */
  }
  
  .nav-link::after {
    content: "Home"; /* Teks yang akan muncul saat hover */
    display: block; /* Membuat teks muncul dalam baris baru */
    opacity: 0; /* Teks awalnya tidak terlihat */
    position: absolute; /* Membuat posisi absolut untuk menempatkan teks */
    bottom: -20px; /* Menentukan jarak vertikal teks dari logo saat hover */
    left: 50%; /* Pusatkan teks secara horizontal */
    transform: translateX(-50%); /* Pusatkan teks secara horizontal */
    background-color: #fff; /* Warna latar belakang teks saat hover */
    padding: 5px 10px; /* Ruang dalam teks saat hover */
    border-radius: 5px; /* Membuat sudut lekukan pada teks saat hover */
    transition: opacity 0.2s ease-in-out; /* Efek transisi opacity saat hover */
  }
  
  .nav-link:hover::after {
    opacity: 1; /* Teks muncul saat hover */
  }
  
  
  .banner img {
    width: 100%;
    height: 300px;
    display: block; /* Menghilangkan spasi tambahan di bawah gambar */
    margin: 0;
    padding: 0;
    border: none; /* Menghilangkan border default jika ada */;
   
  }
  
  
  /* Panels. */
  .splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
  }
  
  .panel {
    position: absolute;
    width: 100vw;
    min-height: 60vw;
    overflow: hidden;
  }
  
    .panel .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
    }
  
    .panel .description {
        width: 25%;
        position: absolute;
        top: 80%;
        transform: translateY(-50%);
        text-align: center;
        z-index: 20;
        letter-spacing: 20PX;
    }

    .panel .description-kiri {
      width: 25%;
      position: absolute;
      top: 15%;
      transform: translateY(-50%);
      text-align: center;
      z-index: 20;
      letter-spacing: 20PX;
    }
  
    .panel img {
      width: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) ;
      transform-origin: center; /* keep the rotation centered */
  }
  
  
  
  .bottom {
    background-color: #e3849c;
    z-index: 1;
  }
  
    .bottom .description {
        right: 5%;
    }
  
  .top {
    background-color: #BA7889;
    z-index: 2;
    width: 50vw;
  
    /*-webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 40% 100%);*/
  }
  
    .top .description {
        left: 5%;
    }
  
  /* Handle. */
  .handle {
    height: 100%;
    position: absolute;
    display: block;
    background-color: rgb(255, 255, 255);
    width: 5px;
    top: 0;
    left: 50%;
    z-index: 3;
  }
  
  /* Skewed. */
  .skewed .handle {
    top: 50%;
    transform: rotate(30deg) translateY(-50%);
    height: 200%;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
  }
  
  .skewed .top {
    transform: skew(-30deg);
    margin-left: -1000px;
    width: calc(50vw + 1000px);
  }
  
  .skewed .top .content {
    transform: skew(30deg);
    margin-left: 1000px;
  }
  
  /* Responsive. */
  @media (max-width: 900px) {
    body {
        font-size: 75%;
    }
  }
  
  .header {
    color: #BA7889;
  }

  .splitview {
    position: relative;
    width: 100%;
    min-height: 45vw;
    overflow: hidden;
  }
  
  .panel2 {
    position: absolute;
    width: 100vw;
    min-height: 60vw;
    overflow: hidden;
  }
  
    .panel2 .content {
        position: absolute;
        width: 100vw;
        min-height: 45vw;
        color: #FFF;
    }
  
    .panel2 .description {
        width: 25%;
        position: absolute;
        top: 80%;
        transform: translateY(-50%);
        text-align: center;
        z-index: 20;
        letter-spacing: 20PX;
    }

    .panel2 .description-kiri {
      width: 25%;
      position: absolute;
      top: 15%;
      transform: translateY(-50%);
      text-align: center;
      z-index: 20;
      letter-spacing: 20PX;
    }
  
    .panel2 img {
      width: 60%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) ;
      transform-origin: center; /* keep the rotation centered */
  }

  
  
  
  